.container {
    background:
        url('./image/HoangVanThu.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100%;
    position: relative;
}
.container::before {
    content: '';
    position: absolute;
    background-color: #00000047;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
}
.timeline::before {
    content: "";
    height: 100%;
    width: 20px;
    background-color: #00000080;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.point {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;

}

.point:nth-child(even) {
    flex-direction: row-reverse;
}

.point>div {
    position: relative;
    width: calc(50% - 40px);
    padding: 15px;
    border: 5px solid #ffffff00;
    border-radius: 15px;
    text-align: center;
    background-color: #0000007d;
}

.point>div::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 20px;
    top: 50%;
    right: 0;
    background-color: #00000094;
    transform: translate(calc(100% + 4px), -50%);
}

.point:nth-child(even) > div::before {
    right: unset;
    left: 0;
    transform: translate(calc(-100% - 4px), -50%);
}

.point .imageMain {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.point .imageMain:hover {
    transform: translateY(-10px);
}
.infoMain {
    font-size: 30px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.infoMain:hover {
    transform: scale(1.1);
}