/* 🐶  */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sectionLinkWrapper .active {
    color: red;
}
a {
    text-decoration: none;
}
div {
    border: none;
}
.imageHeaderMain {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.sidebarWrapper {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 56, 56);
    margin-top: -5px;
    overflow: hidden;
}
.fullBrand {
    display: flex;
    align-items: center;
    gap: 10px;
}
.allSectionWrapper {
    display: flex;
    gap: 10px;
}
.imageAndSidebarWrapper {
    align-items: center;
}
.logoMain {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.logo {
    height: 80px;
    width: 80px;
}
.brandName {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 0, 0);

}
.sectionLinkMain {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}
.sectionLinkWrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    background-color: rgb(83, 82, 82);
}
.overallTitleWrapper {
    margin-bottom: 30px;
}
.overallTitleMain {
    font-family: 'Noto Sans',  sans-serif;
    font-size: 50px;
    color: #683333;
    font-weight: 700;
    transform: scale(1);
    transition: 0.4s ease all;
}
.overallTitleMain:hover {
    transform: scale(1.2);
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(243, 113, 113));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
/* END OF HEADER TEMPLATE */