.peopleContact {
    padding: 30px; 
    background: linear-gradient(45deg, #E60026, #FFA500, #FFD700, #008080);
}
.peopleInformationWrapper {
    background-color: rgb(35, 37, 59);
    border-radius: 15px;
    padding: 35px;
}
.titleIntroductionWrapper {
    text-align: center;
    margin-bottom: 20px;
}
.titleIntroductionMain {
    font-family: 'Noto sans', sans-serif;
    font-size: 50px;
    background-image: linear-gradient(to right, rgb(236, 7, 7), rgb(209, 74, 74));
    -webkit-background-clip: text;
    color: transparent; 
    transition: 0.4s all ease-in-out;
    transform: scale(1);
}
.titleIntroductionMain:hover {
    transform: scale(1.2);
}
.songIntroductionWrapper {
    margin-bottom: 30px;
}
.songIntroductionMain {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-indent: 20px;
    line-height: 2;
    background-image: linear-gradient(to right, rgb(226, 213, 213), rgb(226, 213, 213));
    -webkit-background-clip: text;
    color: transparent;
}
.songLinkWrapper {
    border-radius: 15px;
    margin-bottom: 30px;
}
.songLinkMain {
    width: 100%;
    border-radius: 15px;
    /* height: 50vh; */
    aspect-ratio: 19 / 7;
    object-fit: cover;
}
.seeMoreWrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ToiNguoiHaiPhong {
    font-size: 40px;
    background-image: linear-gradient(to right, rgb(236, 7, 7), rgb(209, 74, 74));
    -webkit-background-clip: text;
    color: transparent; 
}
#ToiNguoiHaiPhong:hover {
    font-size: 50px;
    animation: bounce 0.8s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.seeMoreIntroductionWrapper {
    margin-top: 10px;
    margin-bottom: 34px;
}
.seeMoreIntroductionMain {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Poppins' , sans-serif;
    background-image: linear-gradient(to right, rgb(236, 7, 7), rgb(209, 74, 74));
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.4s all ease-in-out;
    transform: scale(1);  
}
.seeMoreIntroductionMain:hover {
    transform: scale(1.1);
}
.peopleWrapper {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}
#HaiPhongPeopleDiv1, #HaiPhongPeopleDiv2 {
    flex: 1;
}
.peopleImageMain {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.peopleIntroductionWrapper {
    padding: 10px;
}
.peopleIntroductionMain {
    line-height: 2;
    text-indent: 20px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Poppins' , sans-serif;
    background-image: linear-gradient(to right, rgb(226, 213, 213), rgb(226, 213, 213));
    -webkit-background-clip: text;
    color: transparent; 
}
