.peopleContact {
    padding: 30px; 
    background: linear-gradient(45deg, #E60026, #FFA500, #FFD700, #008080);
}
.peopleInformationWrapper {
    background-color: rgb(35, 37, 59);
    border-radius: 15px;
    padding: 30px;
}
.titleIntroductionWrapper {
    text-align: center;
    margin-bottom: 20px;
}
.titleIntroductionMain {
    font-family: 'Noto sans', sans-serif;
    font-size: 50px;
    background-image: linear-gradient(to right, rgb(236, 7, 7), rgb(209, 74, 74));
    -webkit-background-clip: text;
    color: transparent; 
    transition: 0.4s all ease-in-out;
    transform: scale(1);
}
.titleIntroductionMain:hover {
    transform: scale(1.2);
}
.songIntroductionWrapper {
    margin-bottom: 30px;
}
.songIntroductionMain {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 2;
    background-image: linear-gradient(to right, rgb(226, 213, 213), rgb(226, 213, 213));
    -webkit-background-clip: text;
    color: transparent;
}
.songLinkWrapper {
    border-radius: 15px;
    margin-bottom: 30px;
}
.songLinkMain {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 19 / 7;
    object-fit: cover;
}
.seeMoreWrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ToiNguoiHaiPhong {
    font-size: 40px;
    background-image: linear-gradient(to right, rgb(236, 7, 7), rgb(209, 74, 74));
    -webkit-background-clip: text;
    color: transparent; 
}
#ToiNguoiHaiPhong:hover {
    font-size: 50px;
    animation: bounce 0.8s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.seeMoreIntroductionWrapper {
    margin-top: 10px;
    margin-bottom: 34px;
}
.seeMoreIntroductionMain {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins' , sans-serif;
    background-image: linear-gradient(to right, rgb(236, 7, 7), rgb(209, 74, 74));
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.4s all ease-in-out;
    transform: scale(1);  
}
.seeMoreIntroductionMain:hover {
    transform: scale(1.1);
}
.peopleWrapper {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}
#HaiPhongPeopleDiv1, #HaiPhongPeopleDiv2 {
    flex: 1;
}
.peopleImageMain {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.peopleIntroductionWrapper {
    padding: 10px;
}
.peopleIntroductionMain {
    line-height: 2;
    text-indent: 20px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins' , sans-serif;
    background-image: linear-gradient(to right, rgb(226, 213, 213), rgb(226, 213, 213));
    -webkit-background-clip: text;
    color: transparent; 
}
.eventInfoAndImageWrapper {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    position: relative;
    align-items: center;
}
.twoImageWrapper {
    width: 50%;
    display: flex;
    height: 100%;
    position: relative;
    margin-bottom: 120px;
}
.twoInfoWrapper {
    width: 30%;
    position: absolute;
    right: 0;
    transform: translateX(-20px);
    margin: auto;
    text-align: center;
}
.firstImageMain, .secondImageMain {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
}
.firstImageWrapper {
   overflow: hidden;
}
.secondImageMain {
    position: absolute;
    left: 50%;
    bottom: -35%;
}
.firstImageMain {
    aspect-ratio: 10 / 9;
    object-fit: cover;
}
.secondImageMain {
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.Events {
    color: black;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 0.4s all ease-in-out;
    font-weight: 500;
}
.Events:hover {
    transform: scale(1.15);
    color: red;
}
#eventsPersonality {
    aspect-ratio: 5/6;
}